<!-- LINE 28 <img class="img-responsive" src="../static/images/CSshield.png" alt="ChowSafely Logo"> -->
<!-- LINE 29-34 <div class="container">
   <header>
      <h1>ChowSafely</h1>
   </header>
   <img class="img-responsive" src="../static/images/CSshield.png" alt="ChowSafely Logo">
-->
<!-- LINE 82 </div>-->
<!-- LINE 85-115
   <div class="form-check">
       <h6>Please choose one dietary concern:</h6>
        <input type="radio" class="form-check-input" name="concern" id="dropdownCheck" value="vegan" checked>
        <label class="form-check-label" for="dropdownCheck">
            Vegan
        </label>
        <input type="radio" class="form-check-input" name="concern" id="dropdownCheck" value="vegetarian">
        <label class="form-check-label" for="dropdownCheck">
            Vegetarian
        </label>
        <input type="radio" class="form-check-input" name="concern" id="dropdownCheck" value="gluten-free">
        <label class="form-check-label" for="dropdownCheck">
            Gluten-Free
        </label>
    </div>

   <section id="fetch">

     <h6>Where are you looking?</h6>

      <input type="text" placeholder="U.S. zipcode" id="city" name="city"/>
      <br>

      <h6>How far do you want to travel?</h6>
      <input type="text" placeholder="Max distance (optional)" id="distance" name="distance"/>
      <br>

      <button id="search">Find me food</button>
   </section>
-->
<!-- LINE 116 <section id="poster"></section> -->
<!-- ORIGINAL PANEL CODE BELOW   LINE 120-3
    <div class="panel panel-default" id="mypanel">

    </div> -->
<!-- LINE 128 </div>-->
<!--   LINE 9-10 <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.6.2.min.js"></script>
    <script src="js/jquery-1.11.0.min.js"></script> -->